.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  transition: opacity 500ms ease-out 0.2s, visibility 500ms ease-out;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding-right: 39px;
  padding-left: 41px;
  padding-top: 40px;
  padding-bottom: 40px;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) rotate(0deg) scale(1);
  opacity: 1;

  transition: opacity 0.6s ease-out 0.2s, transform 0.6s ease-out 0.2s;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(-540deg) scale(0);
  opacity: 0;
}
