.mailing {
  @include mq(tablet) {
    flex-basis: 100%;
  }
  @include mq(desktop) {
    width: 50%;
    text-align: left;
    margin-left: 93px;
    flex-direction: column;
  }
}

.mailing-form {
  @include mq(desktop) {
    display: flex;
  }
}

.footer-input {
  width: 90%;
  height: 50px;
  display: block;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: $background-color;
  border-radius: 4px;
  padding-left: 16px;
  padding-bottom: 15px;
  padding-top: 15px;
  color: $white-text-color;

  @include mq(desktop) {
    display: flex;
    width: 358px;
  }
}

.footer-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: $white-text-color;
  line-height: 1.7;
  background: $background-color;
  padding: 15px 16px;
}
