.social-group {
  display: flex;
  align-items: center;
  margin-top: 16px;
  justify-content: center;
}
.social-list {
  margin-right: 10px;
}
.social-list:last-child {
  margin-right: 0px;
}

.social-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--icon-background);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  

		&:hover .social-icons,
		&:focus .social-icons {
		fill: var(--white-text-color);
		}
		&:hover,
		&:focus {
		background-color: var(--accent-text-color-blue);
		}

}

.social-icons {
  fill: var(--clients-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  /* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 250ms;
	transition-property: color; */
}
