.team {
  background-color: $button-background;
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include mq(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;

  @include mq(desktop) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.staff {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include mq(desktop) {
    flex-wrap: nowrap;
  }
}

.staff-picture {
  width: 100%;
}

.staff-item {
  background-color: $white-text-color;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 450px;

  &:not(:last-child) {
    @media screen and(max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @include mq(tablet) {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(even) {
      margin-right: 0px;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }

  & {
    @include mq(desktop) {
      flex-basis: calc(
        (100% - (var(--indent) * (var(--items) - 1))) / var(--items)
      );
      margin-bottom: 0px;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}

.staff-nick {
  font-family: $primary-font, sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}

.staff p {
  font-weight: 400;
  color: $secondary-text-color;
}

.staff-name {
  text-align: center;
  padding: 30px 10px;
}
