.team {
  background-color: var(--button-background);
}
.team-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.staff {
  display: flex;
  align-items: center;
}
.staff-item:not(:last-child) {
  margin-right: 30px;
  flex-basis: calc(
    (100% - (var(--indent) * (var(--items) - 1))) / var(--items)
  );
}
.staff-item {
  background-color: var(--white-text-color);
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.staff-nick {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}

.staff p {
  font-weight: 400;
  color: var(--secondary-text-color);
}

.staff-name {
  text-align: center;
  padding: 30px 10px;
}
